<ng-progress color="rgb(33, 150, 243)"></ng-progress>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ledgr 1.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Organizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" *ngFor="let org of organiations$ | async">{{ org.OrganizationName }}</a>
            </div>
          </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link btn btn-link" href="#" routerLink="/transaction">Create Entry</a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Masterfiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink="/masterfile/organization">Organization</a>
            <a class="dropdown-item" href="#" routerLink="/masterfile/fiscal-year">Fiscal Year</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" routerLink="/masterfile/account">Accounts</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<div class="main">
  <div class="container-fluid">
      <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item sidenav-item">
                    <app-profile></app-profile>
                </li>
                <li class="list-group-item sidenav-item" (click)="about()">About</li>
            </ul>
        </div>
        <div class="col-9">
          <div class="main-container"><router-outlet></router-outlet></div>
        </div>
      </div>
  </div>
</div>

