<div class="container">
  <div class="row"> 
    <div class="col-s12">
      <h5>Rules</h5>
      <ul>
        <li>Maximum amount of loan will be base on borrower capital share + 20% of his/her capital share</li>
        <li>Additional 20% will still fall under approval and MUST be approved by 3(three) approver</li>
        <li>Minimum loan must be P3,000 as long as your capital share is equal or above the amount</li>
        <li>Interest will be applied. See the board for interest computation</li>
        <li>Non-member can loan but will need one or two member/s as co-maker</li>
      </ul>
      <h5>How to Loan</h5>
      <ul>
        <li>Loan will be requested through email. Must be emailed to all approvers</li>
        <li>Indicate the amount in the email and Subject is LOAN REQUEST</li>
        <li>Approval will be done through email atleast 2(two) of the approver should agreed</li>
        <li>After approval, borrower provide widrawal slip</li>
        <li>Jonathan and Ronnel will check the approval (email) and sign the widrawal slip</li>
        <li>Borrower will withdraw the amount</li>
        <li>Please attach the receipt to the email thread for documentation</li>
      </ul>
    </div>
  </div>
</div>