<div style="width: 100%;">
  <form>
      <div class="form-row">
        <div class="col">
          <select class="form-control">
            <option selected>Select Account</option>
            <option *ngFor="let acct of accounts$ | async" value="{{ acct.AccountID }}">{{ acct.AccountName }}</option>
          </select>
        </div>
        <div class="col">
          <select class="form-control">
            <option>Select User</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Doc Ref#">
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">DR</div>
            </div>
            <input type="number" class="form-control" id="debitAmount" name="debitAmount" placeholder="0.00" [(ngModel)]="transactionLine.DebitAmount" (ngModelChange)="recompute()">
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">CR</div>
            </div>
            <input type="number" class="form-control" id="creditAmount" name="creditAmount" placeholder="0.00" [(ngModel)]="transactionLine.CreditAmount" (ngModelChange)="recompute()">
          </div>
        </div>
      </div>
  </form>
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-link" (click)="delete()">Delete</button>
  </div>
</div>