<div style="width: 100%;">
  <form>
      <div class="form-row">
        <div class="col">
          <select class="form-control" (change)="selectAccount($event)" [disabled]="isPosted">
            <option>Select Account</option>
            <option *ngFor="let acct of accounts$ | async" value="{{ acct.AccountID }}" [selected]="acct.AccountID == transactionLine.AccountID">{{ acct.AccountName }}</option>
          </select>
        </div>
        <div class="col">
          <select class="form-control" (change)="selectUser($event)" [disabled]="isPosted">
            <option>Select User</option>
            <option *ngFor="let user of users$ | async" value="{{ user.UserID }}" [selected]="user.UserID == transactionLine.UserID">{{ user.FirstName }} {{ user.LastName }}</option>
          </select>
        </div>
        <div class="col">
          <input id="docRef" name="docRef" type="text" class="form-control" placeholder="Doc Ref#" disabled [(ngModel)]="transactionLine.DocumentRef">
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">DR</div>
            </div>
            <input type="number" class="form-control" id="debitAmount" 
            name="debitAmount" placeholder="0.00" [(ngModel)]="transactionLine.DebitAmount" (ngModelChange)="recompute()" [disabled]="isPosted">
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">CR</div>
            </div>
            <input type="number" class="form-control" id="creditAmount" 
            name="creditAmount" placeholder="0.00" [(ngModel)]="transactionLine.CreditAmount" (ngModelChange)="recompute()" [disabled]="isPosted">
          </div>
        </div>
      </div>
  </form>
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-link" (click)="delete()">Delete</button>
  </div>
</div>