ul > li {
    background: transparent;
}

.photoImg {
    border-radius: 50px !important;
    height: 90px !important;
    width: 90px !important;
    margin: 0 auto;
    margin-top: 10px !important;
}